.meetings-item_container{
    .voting-list__meetings{
            height: auto;
            margin-bottom: 15px;
            padding: 15px;

            .item_list h1{
               font-family: Roboto;
               font-size: 20px;
               line-height: inherit;
            }
            .meeting-card_top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
           .item-edit{
               display: flex;
               flex-direction: column;
               
            }
    }
}
