.chat-card{
  width: 260px;
  height: 300px;
  background-color: #cecece;
  margin-top: 10px;
  border-radius: 5px;
}
.MuiButton-contained{
  margin-top: 243px;
  width: 260px;
}
.centrate{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.message-plate{
  width: 260px;
  height: 206px;
}
.first-mess{
  margin-top: 75px;
}
.user-name{
  transform: translate(47px, -38px);
  font-size: 22px;
}
.user-message{
  width: 246px;
  margin-top: -44px;
  margin-left: 46px;
}
.user-icon{
  transform: translate(-4px, 15px);
}

