.login-page {
  background: #394B59;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);

  &__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    color: white;
    margin-top: -120px;
  }

  &__subtitle {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    }

  &__top{
    text-align: center;
    color: white;
  }
}

.form {
  &__container {
    display: flex;
    flex-flow: column;
  }

  &__button {
    margin-top: 20px;
  }
}

.MuiOutlinedInput-input{
  padding: 15px;
}

.card-body{
  background-color: #dddddd;
  padding: 0px 20px 15px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 400px;
}

.MuiSvgIcon-fontSizeLarge{
  margin: 0px 1px -3px 10px;
}
